.catalog .flex-cont{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: none;
    min-height: 200px;
    flex-wrap: nowrap;
}
.catalog .section
{
    padding-top: 0 ;
    border: solid 5px black;
}
.catalog .left-block{
    padding: 0;
    flex-basis: 200px;
    border-left: none;
    flex-shrink: 0;
}
.catalog .right-block{
    flex-basis: 100%;
    border-right: none;
    flex-shrink: 1;
}
.catalog h3{
    font-size: 1.25em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    padding-top: 15px;
}