
.right-column .menu
{
    font-size:100%;
    margin-top: 30px;
    border : 3px solid #C4D1FF;
}

.right-column .link
{
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;

}

.right-column .menu-text
{
    padding: 0;

}
.right-column
{
    width: 15%;
    background-color: #D4DDFA;

    padding-left : 5px;
    padding-right : 5px;

}