.b-image{
    background:  url(/local/images/basket.jpg);
    height : 40px;
    width: 40px;
    display: inline-block;
}

.mbasket
{
    border: none;
    position: relative;
    top: 13px;
    display : flex;
    flex-direction: row;
}

.basket-text{
    margin-top: 3px;
    border:none;
}
